<ul>

    <li><strong>{{ producto.producto}}</strong></li>

    <li><strong>Modelo: </strong>{{ producto.modelo}}</li>

    <li><strong>Caracteristicas: </strong>{{ producto.caracteristicas}}</li>

    <li><strong>Precio: </strong>{{ producto.precio}}</li>

</ul>