{% extends 'base.html.twig' %}
{% block title %} Contactos {% endblock %}
{% block body %}

    <h1>Productos</h1>

    <h2>Bienvenido a la tienda de Stefan.</h2>

    <p>Página de inicio</p>

{% endblock %}